@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@400;700&display=swap');
#main{
    /* background-image: url('../pictures/ChatGPTImgPizzaClara.png');
    background-repeat: repeat;
    background-size: auto; */
    background-color: #D6E4A2;
}
.pToppings{
    text-align: center;
    font-size: 1.5rem;
}
.row.py-lg-5, #sec-history, #sec-location, #sec-menu{
    background-color: #F9F7EF;
    opacity: 0.95;
}
.textMenu, .textLocation {
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    stroke: black;
    stroke-width: 3px;
    fill: #c41e1e;
}
.textAppetizers , .textPizzas, .textPastas, .textSalads, .textDesserts{
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    stroke: black;
    stroke-width: 3px;
    fill: #c41e1e;
}
.textPhone{
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    stroke: black;
    stroke-width: 3px;
    fill: #006837;
}
.linksHeader{
    padding-top: 12px;
}
.linkMenu, .linkLocation{
    font-family: 'Lobster', cursive;
    color: #006837;
    font-size: 2rem;
}
.linkCallUs{
    /* color: white;
    position: absolute; 
    bottom: 4px; 
    right: 15px; 
    font-size: 1.5rem; 
    font-family: 'Lobster', cursive; */

    color: white; 
    font-size: 1.5rem; 
    font-family: 'Lobster', cursive;
}
/* .linkMenuMobile, .linkMenuLocation{
    font-family: 'Lobster', cursive;
    color: #006837;
    font-size: 25px;
} */
.bi-facebook, .bi-instagram, .bi-tiktok{ 
    color: white; margin-left: 20px; font-size: 20px;
}
.bg-dark-menu {
    background-color: black;
  opacity: 0.9;
}
footer.footer{
    background-color: black;
    opacity: 0.9;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: black;
    opacity: 0.6;
    border-radius: 18%;
}
.mapa{
    margin-bottom: 50px;
}

/* Animación */
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estado inicial oculto */
  .oculto {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease-out;
  }
  
  /* Clase que activa la animación */
  .animacion-activa {
    animation: fadeSlideIn 1s ease-out forwards;
}
.footer p{
    font-family: 'Pacifico', cursive;
    color: white;
    padding-left: 31rem;
    padding-top: 10px;
    font-size: 30px;
}
.logoMenu img{
    padding-left: 10%;
}
.ImagenPortada {
    background-image: url('../pictures/sala3.jpeg'); /* Ajusta la ruta según tu estructura */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* 100% del ancho de la pantalla */
    height: 125vh; /* 100% del alto de la pantalla */
  }
/* ----------------------- Se aplica en tablets grandes ---------------------- */
@media (min-width: 992px) and (max-width: 1200px) {
    .footer p{
        padding-left: 20rem;
    }
}

/* ----------------------- Se aplica en tablets medianas ---------------------- */
@media (min-width: 768px) and (max-width: 992px) {
    .linksHeader{
        max-width: 30%;
    }
    .footer p{
        padding-left: 10rem;
    }
}
/* ----------------------- Se aplica en móviles ---------------------- */
@media (max-width: 768px) {
    .textPhone{
        font-size: 11rem;
    }
    .textMenu, .textLocation{
        font-size: 6rem;
    }
    .textAppetizers , .textPizzas, .textPastas, .textSalads, .textDesserts{
        font-size: 8rem;
    }
    .textSalads, .textDesserts{
        font-size: 5rem;
    }
    .linkMenuMobile, .linkMenuLocation{
        font-family: 'Lobster', cursive;
        color: #006837;
        font-size: 2rem;
    }
    .linkCallUsMob{
        color: white;
        position: absolute; 
        bottom: 4px; 
        right: 15px; 
        font-size: 1.5rem; 
        font-family: 'Lobster', cursive;
    }
    .divLocation{
        padding-left: 10%;
    }
    .footerMobile {
        height: 70px;
    }
    .footerMobile .col-12{
        height: 25px;
    }
    .footerMobile .col-2{
        margin-top: -22px;
    }
    .linksMenuMobile{
        margin-top: 10px;
    }
    .divRedes ul {
        display: flex;
        flex-direction: row; /* Asegura que los elementos estén en línea */
        gap: 10px; /* Espacio entre iconos */
        padding: 0;
        list-style: none;
    }
    ul.listaRedes{
        margin-left: 35%;
    }
    footer.footerMobile{
        background-color: black;
        opacity: 0.8;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px;
    }
    .info{
        text-align: center;
    }
    .footerMobile p{
        font-family: 'Pacifico', cursive;
        color: white;
        /* padding-left: 31rem;
        padding-top: 10px;
        font-size: 30px; */
    }
    .ImagenPortada {
        background-image: url('../pictures/pizzaMural.jpeg'); /* Ajusta la ruta según tu estructura */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw; /* 100% del ancho de la pantalla */
        height: 100vh; /* 100% del alto de la pantalla */
      }
}

