@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@400;700&display=swap');
#main{
    /* background-image: url('../pictures/ChatGPTImgPizzaClara.png');
    background-repeat: repeat;
    background-size: auto; */
    background-color: #D6E4A2;
}
.pSalad{
    text-align: center;
    font-size: 1.5rem;
}
.pToppings{
    text-align: center;
    font-size: 1.5rem;
}
.row.py-lg-5, #sec-history, #sec-location, #sec-menu{
    background-color: #F9F7EF;
    opacity: 0.95;
}
.linksHeader{
    padding-top: 12px;
}
.linkMenu, .linkLocation{
    font-family: 'Pacifico', cursive;
    color: #006837;
    font-size: 30px;
}
.linkMenuMobile, .linkMenuLocation{
    font-family: 'Pacifico', cursive;
    color: #006837;
    font-size: 25px;
}
.titulo{
    font-family: 'Pacifico', cursive;
    color: #BC321F; /*red*/
    text-shadow: 5px 5px 5px rgba(154, 112, 112, 0.7);
    font-size: 5.5rem;
}
.subtitle{
    font-family: 'Pacifico', cursive;
    color: #1b6736;
    text-shadow: 5px 5px 5px rgba(126, 179, 136, 0.7);
    margin-bottom: 2rem;
    font-size: 4rem;
}
.subtitle_L{
    font-family: 'Pacifico', cursive;
    color: #1b6736;
    text-shadow: 5px 5px 5px rgba(126, 179, 136, 0.7);
    margin-bottom: 2rem;
    font-size: 3rem;
}
.bi-facebook, .bi-instagram, .bi-tiktok{ 
    color: white; margin-left: 20px; font-size: 20px;
}
.bg-dark-menu {
    background-color: black;
  opacity: 0.9;
}
footer.footer{
    background-color: black;
    opacity: 0.9;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: black;
    opacity: 0.6;
    border-radius: 18%;
}
.mapa{
    margin-bottom: 50px;
}

/* Animación */
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Estado inicial oculto */
  .oculto {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease-out;
  }
  
  /* Clase que activa la animación */
  .animacion-activa {
    animation: fadeSlideIn 1s ease-out forwards;
}
.footer p{
    font-family: 'Pacifico', cursive;
    color: white;
    padding-left: 31rem;
    padding-top: 10px;
    font-size: 30px;
}
.logoMenu img{
    padding-left: 10%;
}
.ImagenPortada {
    background-image: url('../pictures/cover.jpeg'); /* Ajusta la ruta según tu estructura */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* 100% del ancho de la pantalla */
    height: 125vh; /* 100% del alto de la pantalla */
  }
/* ----------------------- Se aplica en móviles ---------------------- */
@media (max-width: 768px) {
    .footerMobile {
        height: 70px;
    }
    .footerMobile .col-12{
        height: 25px;
    }
    .footerMobile .col-2{
        margin-top: -22px;
    }
    #sec-location{
        height: 800px;
    }
    .linksMenuMobile{
        margin-top: 10px;
    }
    .divRedes ul {
        display: flex;
        flex-direction: row; /* Asegura que los elementos estén en línea */
        gap: 10px; /* Espacio entre iconos */
        padding: 0;
        list-style: none;
    }
    ul.listaRedes{
        margin-left: 35%;
    }
    footer.footerMobile{
        background-color: black;
        opacity: 0.8;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px;
    }
    .info{
        text-align: center;
    }
    /* .mapa{
        text-align: center;
        margin-bottom: 150px;
    } */
    .footerMobile p{
        font-family: 'Pacifico', cursive;
        color: white;
        /* padding-left: 31rem;
        padding-top: 10px;
        font-size: 30px; */
    }
    .ImagenPortada {
        background-image: url('../pictures/cover.jpeg'); /* Ajusta la ruta según tu estructura */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw; /* 100% del ancho de la pantalla */
        height: 100vh; /* 100% del alto de la pantalla */
      }
    .subtitle_L{
        font-family: 'Pacifico', cursive;
        color: #1b6736;
        text-shadow: 5px 5px 5px rgba(126, 179, 136, 0.7);
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
    .titulo{
        font-family: 'Pacifico', cursive;
        color: #BC321F; /*red*/
        text-shadow: 5px 5px 5px rgba(154, 112, 112, 0.7);
        font-size: 4.5rem;
    }
    .subtitle{
        font-family: 'Pacifico', cursive;
        color: #1b6736;
        text-shadow: 5px 5px 5px rgba(126, 179, 136, 0.7);
        margin-bottom: 2rem;
        font-size: 3rem;
    }
}

